.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 0;
    top: 370px;
    left: 80px;
  }
  
  .baloon {
    position: absolute;
    top: 550px;
    z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 585px;
    left: 30px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 700px;
    left: 300px;
  }